#{extends 'main_upper.html' /}
#{set title:'Post anlegen ...' /}

<form action="@{Post.savePost()}" method="GET">

    <div class="col1">
        <div style="margin-top: 20px;">
            Schreibe einen neuen Blog-Eintrag ...
            <table style="margin-top: 20px;">
                <tbody>
                    <tr>
                        <td class="addPostTDLabel">
                            Titel: 
                        </td>
                        <td style="width: 540px;">
                            <input style="width: 100%;" type="text" name="title" />
                        </td>
                    </tr>
                    <tr>
                        <td class="addPostTDLabel">
                            Inhalt: 
                        </td>
                        <td>
                            <textarea name="body" rows="18" style="width: 100%;"></textarea>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="col2">
        <div>
            <input type="submit" style="width: 200px; " value="Veröffentlichen!" />
        </div>
    </div>
</form>
